{% load static %}
<nav class="navbar navbar-expand-sm" style="background-color: rgb(0, 0, 0)">
    <div class="container">
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'icons/logo.svg' %}" width="120" height="90" class="d-inline-block align-top" alt="">
        </a>
        <ul class="nav nav-pills  mx-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="#about">Преимущества</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#photo">Фотографии</a>
            </li>
        </ul>
        <button type="button" class="btn btn-danger btn-lg" style="background-color: #ff342b;">Вход</button>
    </div>
</nav>